.btn {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s all;
}

.btn:hover {
  background-color: #333;
}
