.product-card {
  width: 175px;
  /* height: 320px; */
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #fff;
  transition: 0.2s ease;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.product-image {
  width: 50%;
  height: 100%;
  /* object-fit: cover; */
  /* border-radius: 6px; */
}

.product-info {
  margin-top: 0.75rem;
}

.product-name {
  font-size: 16px;
  margin-bottom: 0.25rem;
}

.product-price {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
