@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD

Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

=======
>>>>>>> b0d9770e90d8509e66ceac4c26030556bd6c4b28
